{{template "header" .}}

<form action="/api/post" method="POST">
    <div class="py-2">
        <textarea name="content" rows=20
            class="w-full dark:bg-gray-900 dark:text-gray-300 dark:border-gray-500 pt-3"></textarea>
    </div>

    <div>
        <label class="block text-sm font-medium leading-6 text-gray-900 dark:text-gray-200"
            for="filename">Filename</label>
        <div class="pt-2 max-w-sm">
            <input type="text" id="filename" name="filename" placeholder="filename.txt"
                class="block w-full dark:bg-gray-900 dark:text-gray-200 dark:border-gray-500 rounded-md border py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
        </div>
    </div>

    <input
        class="rounded text-gray-100 bg-blue-500 dark:bg-blue-600 border-blue-500 dark:border-blue-600 hover:bg-blue-600 dark:hover:bg-blue-500 px-3 py-1 mt-4 font-semibold cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:bg-blue-600 dark:focus-visible:bg-blue-500"
        type="submit" value="Submit" />
</form>

<div class="pt-5 flex flex-col gap-2">
    {{if len .RecentPastes | eq 0}}
    <p class="prose dark:text-gray-300">There are no pastes in the list. Create one to share with your team!</p>
    {{else}}
    <h2 class="text-xl font-bold dark:text-gray-200">Recent pastes</h2>
    <ul class="list-disc ml-5">
        {{range .RecentPastes}}
        <li class="dark:text-gray-200">
            <a class="font-semibold underline text-gray-900 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-100"
                href="/paste/{{.ID}}">{{.Filename}}</a> - {{.CreatedAt}} - {{.PasterDisplayName}}
        </li>
        {{end}}
    </ul>

    <a class="self-start font-semibold underline text-gray-900 dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-100"
        href="/paste/list">See all pastes</a>

    {{end}}
</div>

{{template "footer" .}}