{{template "header" .}}
<div class="dark:text-gray-300 flex flex-col gap-2">
<p>There was an error while trying to resolve your request.</p>

<p>If you think you are seeing this in error, please contact your administrator or Tailscale support for help with the program itself.</p>
</div>

<div class="pt-3">
<h2 class="text-xl font-bold dark:text-gray-200 pb-2">Relevant logs:</h2>
<code><pre class="p-4 bg-gray-100 text-gray-900 dark:bg-bg-app dark:text-gray-300">
{{.Error}}
</code></pre>
</div>

</div>
{{template "footer" .}}
