{{template "header" .}}

<ul class="list-disc ml-5">
    {{range .Pastes}}
    <li class="dark:text-gray-200"><a class="font-semibold underline text-gray-900 dark:text-gray-300 hover:text-gray-500" href="/paste/{{.ID}}">{{.Filename}}</a> - {{.CreatedAt}} - {{.PasterDisplayName}}</li>
    {{end}}
</ul>

<p class="dark:text-gray-200 pt-5">{{if .Prev}}<a class="font-semibold underline text-gray-900 dark:text-gray-300 hover:text-gray-500" href="/paste/list?page={{.Prev}}">Prev</a> - {{end}} Page {{.Page}} {{if .Next}} - <a class="font-semibold underline text-gray-900 dark:text-gray-300 hover:text-gray-500" href="/paste/list?page={{.Next}}">Next</a>{{end}}</p>

{{template "footer" .}}
