{{template "header" .}}
<form action="/api/post" method="POST">
  <textarea name="content" rows=20 cols=80></textarea>
  <br />
  <label for="filename">Filename:</label>
  <input type="text" id="filename" name="filename" value="filename.txt" />
  <input type="submit" value="Submit" />
</form>

<br />
<br />
<a href="/paste/list">See all pastes</a>
{{template "footer" .}}
