{{template "header" .}}
<form action="/api/post" method="POST">
  <textarea name="content" rows=20 cols=80></textarea>
  <br />
  <label for="filename">Filename:</label>
  <input type="text" id="filename" name="filename" value="filename.txt" />
  <input type="submit" value="Submit" />
</form>

<br />
<br />

{{if len .RecentPastes | eq 0}}
<p>There are no pastes in the list. Create one to share with your team!</p>
{{else}}
<h2>Recent pastes</h2>
<ul>
    {{range .RecentPastes}}
    <li><a href="/paste/{{.ID}}">{{.Filename}}</a> - {{.CreatedAt}} - {{.PasterDisplayName}}</li>
    {{end}}
</ul>

<a href="/paste/list">See all pastes</a>
{{end}}

{{template "footer" .}}
