{{template "header" .}}
Oh noes! There was an error when trying to do this thing:

<code><pre>
{{.Error}}
</code></pre>

This is almost certainly not what was anticipated, and if you think you are seeing this in error, please contact your administrator or Tailscale support for help with the program itself.
{{template "footer" .}}
