{{template "header" .}}

<div class="right"><img style="width:32px;height:32px" src="{{.PasterProfilePicURL}}" /></div>

<p>There are no pastes in the list. Try <a href="/">creating some</a>!</p>

{{template "footer" .}}
