{{template "header" .}}

<div class="right"><img style="width:32px;height:32px" src="{{.PasterProfilePicURL}}" /></div>

Your <a href="/paste/{{.ID}}">new paste</a> has been created!

<a href="/paste/{{.ID}}">Permalink</a>
{{template "footer" .}}
