{{template "header" .}}

<div class="right"><img style="width:32px;height:32px" src="{{.PasterProfilePicURL}}" /></div>

<p>Created at {{.CreatedAt}} by {{.PasterDisplayName}}</p>

<pre><code>{{.Data}}
</code></pre>

<a href="/paste/{{.ID}}">Permalink</a> - <a href="/paste/{{.ID}}/dl">Download</a> - <a href="/paste/{{.ID}}/raw">Raw</a>
{{template "footer" .}}
